.container {
  width: 1240px;
  margin: 0 auto;
}

.haeder {
  height: 114px;
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  background-color: black;

  .logo {
    width: 159.85px;
    height: 38.27px;
  }
}

.menu {
  width: 488px;
  display: flex;
  justify-content: space-between;

  .menu-item {
    list-style-type: none;
  }

  .menu-link {
    text-decoration: none;
    color: #ff8a00;
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
  }
}

.personal-inf {
  .basket {
    width: 33px;
    height: 27.58px;
    margin-right: 24px;
  }

  .haeder-btn {
    background: linear-gradient(229.9deg, #ffc000 1.55%, #ff8a00 95.8%);
    width: 160px;
    height: 56px;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    border: none;
    color: $Color-light;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.section-promo {
  background: linear-gradient(237.65deg, #ffc000 1.55%, #ff8a00 95.8%);
  min-height: 698px;
  min-width: 1600px;
}

.promo-discr {
  padding-top: 130px;

  .promo-title {
    font-family: Proxima Nova;
    font-size: 44px;
    color: $Color-light;
    font-family: Proxima Nova Black;
  }

  .promo-subtitle {
    font-family: Proxima Nova;
    font-size: 18px;
    line-height: 33px;
    color: $Color-light;
  }
}

.main-btn {
  @include main-btn;
  margin-top: 23px;
  cursor: pointer;
}

.second_btn {
  @include second_btn;
  margin: 40px 0 0 0;
  cursor: pointer;
}

.layout {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 698px;

  .img-main {
    width: 490px;
    position: absolute;
    bottom: 0;
    right: 75px;
  }

  .img-second {
    position: absolute;
    right: 85px;
  }
}

.sub-button {
  position: relative;
  margin-top: 52px;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sub-button-back {
    height: 30px;
    width: 30px;
    background: $Color-light;
    @include sub-button;
  }

  .sub-button-back:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid $Color-main;
    border-bottom: 5px solid transparent;
  }

  .sub-button-forw {
    @include sub-button;
    height: 46px;
    width: 46px;
    background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  }

  .sub-button-forw:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid $Color-light;
    border-bottom: 5px solid transparent;
  }
}

.main-btn:active,
.main-btn:focus,
.second_btn:active,
.second_btn:focus,
.haeder-btn:active,
.haeder-btn:focus,
.search:active,
.search:focus,
.submit:active,
.submit:focus {
  outline: none;
}

.section-about {
  min-height: 1149px;
  background: $Color-light;
  padding-top: 153px;
  box-sizing: border-box;
  position: relative;
  z-index: -2;
  min-width: 1600px;

  .about_img,
  .about_img_block {
    position: absolute;
    left: 0;
    bottom: -220px;
    z-index: -1;
  }
}

.features {
  display: flex;
  width: 936px;
  justify-content: space-between;
  margin: 0 auto;

  &-items {
    width: 276px;
    text-align: center;
  }

  &_img {
    width: 92.11px;
    height: 102.49px;
  }

  &_title {
    font-family: Proxima Nova;
    font-size: 20px;
    color: $Color-dark;
    margin: 26px 0 0 0;
  }

  &_disc {
    font-family: Proxima Nova;
    font-size: 14px;
    color: $Color-dark;
    margin: 11px 0 0 0;
  }
}

.about {
  position: absolute;
  right: 238px;
  bottom: 133px;
  width: 378px;
  z-index: 1;

  &_title {
    font-family: Proxima Nova;
    font-size: 40px;
    color: $Color-main;

    &_bold {
      font-family: proxima nova black;
    }
  }

  &_disc {
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 175.78%;
    color: $Color-dark;
    margin: 12px 0 0 0;
  }
}

.section-project {
  min-width: 1600px;
  padding: 76px;
  box-sizing: border-box;
  min-height: 827px;
  background: linear-gradient(241.87deg, #ffc000 1.55%, #ff8a00 95.8%);
  position: relative;

  .project_bg {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.project {
  width: 371px;
  z-index: 2;

  &_title {
    font-family: Proxima Nova black;
    font-size: 40px;
    color: $Color-light;
    margin-top: 63px;
  }

  &_disc {
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 175.78%;
    color: $Color-light;
    margin-top: 40px;
    width: 346px;
  }
}

.projct-play {
  background: url(../img/project/ImagePlaceholder.jpg), #212121;
  border-radius: 5px;
  width: 282.6px;
  height: 263.25px;
  position: absolute;
  right: 18%;
  top: 413px;
  cursor: pointer;

  .small_info {
    font-family: Proxima Nova black;
    font-size: 14px;
    line-height: 158.34%;
    color: $Color-light;
    margin: 52px 0 0 31px;
  }
}

.iayout {
  margin-top: 35%;
  margin-left: 40%;

  .button_play {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 2px solid $Color-light;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_play:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid $Color-light;
    border-bottom: 10px solid transparent;
  }
}

.section-courses {
  min-width: 1600px;
  min-height: 1331px;
  padding-top: 108px;
  box-sizing: border-box;
}

.courses-title {
  font-family: Proxima Nova black;
  font-size: 40px;
  text-align: center;
  color: $Color-main;
}

.courses-menu {
  width: 702px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .menu-items {
    text-decoration: none;
    color: $Color-dark;
    margin-top: 38px;
  }

  .active {
    font-family: Proxima Nova black;
    text-decoration: underline;
  }
}

.content {
  margin-top: 55px;

  .content_pos {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
}

.content_items {
  width: 303px;
  height: 279px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  .content_status {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 33px;
    background: linear-gradient(237.99deg, #ffc000 1.55%, #ff8a00 95.8%);
    border-radius: 0 10px;
    font-family: Proxima Nova black;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content_disc {
    background: linear-gradient(219.26deg, #ffc000 1.55%, #ff8a00 95.8%);
    font-family: Proxima Nova black;
    font-size: 14px;
    text-align: justify;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    padding: 13px 0 0 30px;
    width: 100%;
    box-sizing: border-box;
    height: 73px;
    border-radius: 0 0 10px 10px;
  }

  &_1 {
    background: url(../img/Courses/Content1.jpg), #c4c4c4;
  }

  &_2 {
    background: url(../img/Courses/Content2.jpg), #c4c4c4;
  }

  &_3 {
    background: url(../img/Courses/Content3.jpg), #c4c4c4;
  }

  &_4 {
    background: url(../img/Courses/Content4.jpg), #c4c4c4;
  }

  &_5 {
    background: url(../img/Courses/Content5.jpg), #c4c4c4;
  }

  &_6 {
    background: url(../img/Courses/Content6.jpg), #c4c4c4;
  }

  &_7 {
    background: url(../img/Courses/Content7.jpg), #c4c4c4;
  }

  &_8 {
    background: url(../img/Courses/Content8.jpg), #c4c4c4;
  }

  &_9 {
    background: url(../img/Courses/Content9.jpg), #c4c4c4;
  }

  &_10 {
    background: url(../img/Courses/Content10.jpg), #c4c4c4;
  }

  &_11 {
    background: url(../img/Courses/Content11.jpg), #c4c4c4;
  }

  &_12 {
    background: url(../img/Courses/Content12.jpg), #c4c4c4;
  }
}

.layout_button {
  display: flex;
  justify-content: center;
}

.section-static {
  min-width: 1600px;
  background: linear-gradient(213.98deg, #ffc000 1.55%, #ff8a00 95.8%);
  height: 298px;
}

.static_block {
  display: flex;
  width: 1108px;
  justify-content: space-between;
  padding-top: 43px;
  box-sizing: border-box;
}

.static {
  &_icons {
    display: block;
    width: 103px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
  }

  &_bill {
    font-family: Proxima Nova black;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    margin-top: 23px;
  }

  &_disc {
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    margin-top: 12px;
  }
}

.section-advice {
  min-width: 1600px;
  height: 737px;
  padding-top: 96px;
  box-sizing: border-box;

  .advice-title {
    color: $Color-main;
    font-family: Proxima Nova black;
    font-size: 40px;
    text-align: center;
  }

  .advice-disc {
    margin-top: 38px;
    color: $Color-dark;
    font-family: Proxima Nova;
    font-size: 14px;
    text-align: center;
  }
}

.advice-block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  margin-top: 66px;
  width: 1552px;
}

.advice {
  width: 373px;
  height: 343px;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 40px 0 0 39px;
  box-sizing: border-box;
  opacity: 0.5;

  &_img {
    width: 34px;
    height: 26.31px;
  }

  &_comment {
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 175.78%;
    color: #5c5c5c;
  }

  &:hover {
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    opacity: 1;
  }
}

.user {
  margin-top: 47px;

  &_img {
    width: 58.33px;
    height: 56.66px;
    float: left;
    margin-right: 11px;
  }

  &_name {
    font-family: Proxima Nova black;
    font-size: 16px;
    color: #5c5c5c;
    padding-top: 13px;
  }

  &_disc {
    font-family: Proxima Nova;
    font-size: 12px;
    line-height: 105.47%;
    color: #5c5c5c;
    margin-top: 4px;
  }
}

.advice-line {
  display: flex;
  justify-content: center;
  align-items: content;
  margin-top: 97px;

  .advice-line_left::after {
    @include advice-line;
    background-color: $Color-main;
  }

  .advice-line_right::after {
    @include advice-line;
    background-color: $Color-dark;
  }
}

.section-price {
  min-width: 1600px;
  position: relative;
  height: 731px;
  padding-top: 136px;
  box-sizing: border-box;

  .price-bg {
    position: absolute;
    top: 0%;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.price-disc {
  width: 359px;
  margin-top: 112px;

  .price-title {
    font-family: Proxima Nova black;
    font-size: 40px;
    color: $Color-main;
    line-height: 158.34%;
  }

  .price-subtitle {
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 175.78%;
    color: $Color-dark;
    margin-top: 38px;
  }
}

.premium-block {
  display: flex;
  margin-right: 30px;
}

.premium {
  border: 1px solid #efefef;
  border-radius: 5px;
  width: 273px;
  min-height: 504px;
  margin-right: 26px;
  padding: 44px 0 0 37px;
  position: relative;

  &_title {
    font-family: Proxima Nova;
    font-size: 24px;
    color: $Color-dark;
  }

  &_disc {
    font-family: Proxima Nova;
    font-size: 12px;
    line-height: 175.78%;
    color: $Color-dark;
  }

  &:hover {
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  }

  &_img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.premium_price {
  font-family: Proxima Nova;
  line-height: 45px;
  color: $Color-dark;
  margin-top: 27px;

  .dollar {
    font-family: Proxima Nova;
    font-size: 24px;
    color: $Color-dark;
  }

  .price {
    font-family: Proxima Nova black;
    font-size: 101px;
    color: $Color-main;
  }
}

.premium_advantage {
  padding-left: 21px;
  margin-top: 22px;
  position: relative;

  .advantage_items {
    list-style-type: none;
    font-family: Proxima Nova;
    font-size: 12px;
    color: $Color-dark;
    margin-top: 14px;
  }

  .advantage_items::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    width: 10px;
    height: 10px;
    background: url(../icons/price/price_icons.svg) center (center / cover) no-repeat;
  }
}

.section-contact {
  min-width: 1600px;
  height: 934px;
  position: relative;

  .contact_bg {
    position: absolute;
    width: 100%;
    height: 1185px;
    right: 0;
    z-index: -2;
  }

  .contact_img {
    z-index: -1;
    top: 307px;
    position: absolute;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 876px;
  position: absolute;
  top: 130px;
}

.newsletter-info {
  &_title {
    font-family: Proxima Nova black;
    font-size: 24px;
    line-height: 29px;
    color: $Color-main;
  }

  &_disc {
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 175.78%;
    color: $Color-dark;
    margin-top: 26px;
  }
}

.newsletter-search {
  display: flex;
  position: relative;

  .search {
    background: #ffffff;
    border: 1px solid #efefef;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    width: 523px;
    height: 56px;
    padding-left: 31px;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #989898;
  }

  .submit {
    width: 160px;
    height: 56px;
    background: linear-gradient(229.9deg, #ffc000 1.55%, #ff8a00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $Color-light;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

.contact {
  width: 446px;
  position: absolute;
  right: 20%;
  bottom: 9%;

  &_title {
    font-family: Proxima Nova black;
    font-size: 40px;
    line-height: 158.34%;
    color: $Color-main;
  }

  &_disc {
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 175.78%;
    color: $Color-dark;
  }

  .second_btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  background: #212121;
  min-height: 312px;
  padding-top: 46px;
  box-sizing: border-box;
  min-width: 1600px;
}

.footer-top {
  min-height: 273px;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.footer-about {
  width: 225px;

  .footer-logo {
    width: 142.15px;
    height: 34.03px;
  }

  .footer-disc {
    font-family: Proxima Nova;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin-top: 31px;
  }
}

.footer-block {
  display: flex;
}

.footer-list {
  margin-right: 84px;

  .footer-title {
    font-family: Proxima Nova black;
    font-size: 15px;
    color: #ffffff;
  }
}

.footer-menu,
.footer-list {
  padding: 0;
  list-style-type: none;
  margin-top: 17px;

  .footer-items {
    color: white;
    font-family: Proxima Nova;
    font-size: 15px;
    margin-top: 16px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.footer-menu {
  margin-top: 42px;
}

.footer-bot {
  background: #000000;
  height: 40px;
  min-width: 1600px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
}

.footer_subinfo {
  font-family: Proxima Nova black;
  font-size: 12px;
  color: #ffffff;
}

.footer_sublink {
  display: flex;
  width: 167px;
  justify-content: space-between;

  .footer_sublink_items {
    font-family: Proxima Nova black;
    font-size: 12px;
    color: #ffffff;
  }

  .footer_sublink_color {
    color: #ffc000;
  }
}

.footer_social {
  margin-top: 47px;
  display: flex;
  width: 118px;
  justify-content: space-between;

  .footer_social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background: #272eae;
  }

  i {
    color: white;
  }

  .footer_social_item_2 {
    background: #1590d8;
  }

  .footer_social_item_3 {
    background: #d0021b;
  }

  .footer_social_item_4 {
    background: #f53e6a;
  }
}